@model Library.Models.Books.ReadBooksViewModel


@section Style
{
    <link href="/css/library.css?v=1.3" rel="stylesheet"></link>
}

<div class="books">
    @foreach (var book in Model.Books)
    {
        <div class="book">
            <div class="personal-data">
                <div class="name">
                    Name: @book.Name
                </div>
                <div class="genre">
                    Genre: @book.Genre
                </div>
                <div class="book-author">
                    Author: @(book.BookAuthor != null ? $"{book.BookAuthor.FirstName} {book.BookAuthor.LastName}" : "Unknown Author")
                </div> 
                <div class="description">
                    Description: @book.Description
                </div>
                <div class="isbn">
                    ISBN: @book.ISBN
                </div>
            </div>
            <div class="crud-functionality">
                <a href="/Books/UpdateBook?id=@book.Id"> Update information </a>
                <a href="/Books/Delete?id=@book.Id"> Delete this book </a>
            </div>
        </div>
    }
</div>