@model Library.Models.Books.ReadBooksViewModel


@section Style
{
    <link href="/css/library.css?v=1.5" rel="stylesheet"></link>
}

@section Scripts
{

}

<div class="books">
    @foreach (var book in Model.Books)
    {
        <div class="book">
            <div class="personal-data">
                <div class="id">
                    <div class="content">Id:</div> @book.Id
                </div>
                <div class="name">
                    <div class="content">Name:</div> @book.Name
                </div>
                <div class="genre">
                    <div class="content">Genre:</div> @book.Genre
                </div>
                <div class="book-author">
                    <div class="content">Author:</div> @(book.BookAuthor != null ? $"{book.BookAuthor.FirstName} {book.BookAuthor.LastName}" : "Unknown Author")
                </div> 
                <div class="description">
                    <div class="content">Description:</div> @book.Description
                </div>
                <div class="isbn">
                    <div class="content">ISBN:</div> @book.ISBN
                </div>
                <div class="count">
                    <div class="content">Count:</div> 
                    @if (book.Count > 0)
                    {
                        @book.Count
                    } else
                    {
                        <div class="field-validation-error"> Not available </div>
                    }

                </div>
                @if((bool)book.HasCover)
                {
                    <div class="cover-block">
                        <div class="content">Cover:</div> <img class="cover-book" src="/images/book covers/cover-@(book.Id).jpg" asp-append-version="true"/>
                    </div>
                }

            </div>
            <div class="crud-functionality">
                @if (Model.IsAdmin)
                {
                    <a class="link" href="/Books/UpdateBook?id=@book.Id">Update information</a>
                    <a class="link" href="#" id="openModal" data-toggle="modal" data-target="#myModal">Delete this book</a>
                }
                @if (book.Count > 0)
                {
                    <a class="link" href="/User/Add?bookId=@book.Id">Add to shelf</a>
                }
                <a class="link" href="/Books/OpenBookPage?id=@book.Id">Page</a>
            </div>
        </div>


        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel"> Confirmation </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Do you really want to delete this book?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a href="@Url.Action("Delete", "Books", new { id = book.Id })" class="btn btn-primary" id="confirmDelete">Yes</a>
                    </div>
                </div>
            </div>
        </div>

    }
</div>
