@model Library.Models.Books.ReadBooksViewModel


@section Style
{
    <link href="/css/library.css?v=1.5" rel="stylesheet"></link>
}

<div class="books">
    @foreach (var book in Model.Books)
    {
        <div class="book">
            <div class="personal-data">
                <div class="id">
                    <div class="content">Id:</div> @book.Id
                </div>
                <div class="name">
                    <div class="content">Name:</div> @book.Name
                </div>
                <div class="genre">
                    <div class="content">Genre:</div> @book.Genre
                </div>
                <div class="book-author">
                    <div class="content">Author:</div> @(book.BookAuthor != null ? $"{book.BookAuthor.FirstName} {book.BookAuthor.LastName}" : "Unknown Author")
                </div> 
                <div class="description">
                    <div class="content">Description:</div> @book.Description
                </div>
                <div class="isbn">
                    <div class="content">ISBN:</div> @book.ISBN
                </div>
                @if((bool)book.HasCover)
                {
                    <div class="cover-block">
                        <div class="content">Cover:</div> <img class="cover-book" src="/images/book covers/cover-@(book.Id).jpg" />
                    </div>
                }

            </div>
            <div class="crud-functionality">
                <a class="link" href="/Books/UpdateBook?id=@book.Id"> Update information </a>
                <a class="link" href="/Books/Delete?id=@book.Id"> Delete this book </a>
            </div>
        </div>
    }
</div>