@model Library.Models.Books.BookViewModel


@section Style
{
    <link href="/css/library.css?v=1.2" rel="stylesheet"></link>
}


<h2> Update book </h2>

<form method="post" action="/Books/UpdateBook" enctype="multipart/form-data">
    @Html.HiddenFor(x => x.Id)
    <div class="input-block">
        @Html.HiddenFor(x => x.Id)
        <div>
            Name: @Html.TextBoxFor(x => x.Name)
        </div>
        <div>
            Genre: @Html.TextBoxFor(x => x.Genre)
        </div>
        <div>
            Description: @Html.TextBoxFor(x => x.Description)
        </div>
        <div>
            ISBN (000-0-000-00000-0 with only numbers is required format): @Html.TextBoxFor(x => x.ISBN)
        </div>
        <div>
            Author first name: @Html.TextBoxFor(x => x.BookAuthor.FirstName)
        </div>
        <div>
            Author last name: @Html.TextBoxFor(x => x.BookAuthor.LastName)
        </div>
        <div>
            Cover: <input type="file" name="@nameof(Model.Cover)" accept="image/png, image/jpeg" />
        </div>
        <div>
            <input type="submit" value="Update" />
        </div>
    </div>
</form>