@model Library.Models.User.UserBooksViewModel


@section Style
{
    <link href="/css/library.css?v=1.5" rel="stylesheet"></link>
}

<div class="books">
    @foreach (var book in Model.BookInstances)
    {
        <div class="book">
            <div class="personal-data">
                <div class="id">
                    <div class="content">Id:</div> @book.Id
                </div>
                <div class="name">
                    <div class="content">Name:</div> @book.Name
                </div>
                <div class="genre">
                    <div class="content">Genre:</div> @book.Genre
                </div>
                <div class="book-author">
                    <div class="content">Author:</div> @(book.BookAuthor != null ? $"{book.BookAuthor.FirstName} {book.BookAuthor.LastName}" : "Unknown Author")
                </div>
                <div class="description">
                    <div class="content">Description:</div> @book.Description
                </div>
                <div class="isbn">
                    <div class="content">ISBN:</div> @book.ISBN
                </div>
                <div class="date-start">
                    <div class="content">Delivery date:</div> @book.DeliveryDate
                </div>
                <div class="date-start">
                    <div class="content">Expected return date:</div> @book.ExpectedReturnDate
                </div>
                @if ((bool)book.HasCover)
                {
                    <div class="cover-block">
                        <div class="content">Cover:</div> <img class="cover-book" src="/images/book covers/cover-@(book.Id).jpg" asp-append-version="true" />
                    </div>
                }

            </div>
            <div class="crud-functionality">
                <a class="link" href="/User/Return?instanceId=@book.InstanceId"> Return book </a>
                <a class="link" href="/Books/OpenBookPage?id=@book.Id"> Page </a>
            </div>
        </div>
    }
</div>