@model Library.Models.Authors.ReadAuthorsViewModel


@section Style
{
    <link href="/css/library.css?v=1.4" rel="stylesheet"></link>
}

<div class="authors">

    @foreach (var author in Model.authors)
    {
        <div class="author">
            <div class="personal-data">
                <div class="Id">
                    <div class="content-author">Author's ID:</div> @author.Id
                </div>
                <div class="name">
                    <div class="content-author">Name:</div> @author.FirstName @author.LastName
                </div>
                <div class="birthday">
                    <div class="content-author">Birthday:</div> @author.DateTime.ToString("dd.MM.yyyy")
                </div>
                <div class="motherland">
                    <div class="content-author">Motherland</div> @author.Motherland
                </div>
            </div>
            <div class="crud-functionality">
                <a href="/Authors/UpdateAuthor?id=@author.Id"> Update information </a>
                <a href="/Authors/Delete?id=@author.Id"> Delete this author </a>
            </div>
        </div>
    }
</div>