@model Library.Models.Common.SearchByIdViewModel


@section Style{
    <link href="/css/library.css?v=1.1" rel="stylesheet" />
}


@if (Model.Author is not null)
{
    <h2> Searched author </h2>

    <div class="author">
        <div>
            Id: @Model.Author.Id
        </div>
        <div>
            First Name: @Model.Author.FirstName
        </div>
        <div>
            Last Name: @Model.Author.LastName
        </div>
        <div>
            Birthday: @Model.Author.Id
        </div>
        <div>
            Motherland: @Model.Author.Motherland
        </div>
    </div>



}
else
{
    <h2> Search author by id </h2>

    <form class="search-by-id" action="/Authors/SearchByIdAuthor" method="post">
        Search by id: @Html.TextBoxFor(x => x.Id)
        <input type="submit" value="Search" />
    </form>
}